<div class="container col-6">
  <h1 class="py-5">SpaceX Upcoming Launches</h1>
  <div class="row px-3 py-2">
    <span class="col">Flight Number</span>
    <span class="col">Mission Name</span>
    <span class="col">Launch Countdown</span>
  </div>
  <accordion [isAnimated]="true">
    <div *ngFor="let launch of launches">
      <accordion-group class="pb-1">
        <div accordion-heading class="row">
          <span class="col">{{launch.flight_number}}</span>
          <span class="col">{{launch.name}}</span>
          <span class="col">{{launch.date_utc | date}}</span>
        </div>
        <app-details [launch]=launch></app-details>
      </accordion-group>
    </div>
  </accordion>
</div>